#recipe-categories-page-one{
    padding-top:1%;
    padding-left: 0;
    padding-right: 0;
}

#recipe-categories-page-one-heading-description-text-container{
    width: 70%;
    padding-bottom: 2%;
    padding-left: 13%;
}

#recipe-categories-page-one-heading{
    font-size: 2.5rem;
}

#recipe-categories-page-one-description-text{
    font-size: 0.8rem;
}

#recipe-categories-page-one-social-icons{
    display: flex;
    gap: 2%;
}
#recipe-categories-page-one-social-icons a{
    width: 45px;
    height: 45px;
    border:1px solid none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#recipe-categories-page-recipes-container{
    background-color: #F0F0F0;
    padding-left: 8%;
   padding-top: 5%;
   display: flex;   
}


#left-side{
    width: 60%;
}
#recipe-categories-page-recipes{
     width:80% ;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-bottom: 3%;
}

#recipe-categories-page-recipes img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    background-color: linear-gradient(10deg,#892074 5%,#77E2E1 100%)
}

#recipe-categories-page-text{   
    width: 90%;
    margin-left: 5%;
    margin-top: -12%;
    background-color: #FFFFFF;
    padding:0.3% 7% 4%;
    border-bottom: 5px solid #77E2E1;
    font-size: 0.7rem;
}
#recipe-categories-page-text p:nth-of-type(1){
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;

}

#recipe-categories-page-text h1{
    padding: 0;
    margin: 0;
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

#recipe-categories-page-text h1:hover{
    color:#892074;
}
.category-fixed-advertisement{
    width: 45%;
    padding-right: 4%;
}
#category-advertisement{
    position: sticky;
    max-height: 70%; /* Adjust as needed, sets the maximum height for scrolling */
    top: 25%; /* Adjust as needed */
    width: 100%;
    z-index: 999; 
    padding: 0;
    margin: 0;}

#cat-gif-img{
    width: 100%;
    height: 50vh;
    /* object-fit: cover; */
}




/* categoriesDescription */

#recipe-categories-description-page{
    display: flex;
    position: relative;
}
#recipe-categories-description-page-container{
    margin-left: 4%;
    width: 62%;
}
#recipe-categories-description-page-container h1{
    text-transform: uppercase;
    color: #2F2F2F;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}

hr{
    border-style: dashed;
}

#recipe-categories-description-page-container-icons{
    display: flex;
    justify-content: space-between;
    margin:5% 0 2% 0;
    width: 100%;
}

#recipe-categories-description-page-container-icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(242, 242, 242);
    width: 14%;
    padding: 2% 1%;
}
#recipe-categories-description-page-container-icons div:hover {
    background-color: #DEDEDE;
}

#recipe-categories-description-page-container-icons #camera{
    width: 30%;
    background-color: rgb(245, 206, 53);
    display: flex;
    gap: 10px;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

#recipe-categories-description-page-container-icons #camera:hover{
    background-color: #D0AC1D;
    
}

#recipe-categories-description-page-container img{
   width: 100%;
   height: 85vh;
}


#recipe-categories-description-social-icons{
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    gap:10px;
}

#recipe-categories-description-social-icons a{
    width: 45px;
    height: 45px;
    border:1px solid none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right-side-container{
    width: 34%;
}

#advertisement{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}
.fixed-advertisement {
    position: sticky;
    max-height: 70%; /* Adjust as needed, sets the maximum height for scrolling */
    top: 20%; /* Adjust as needed */
    width: 100%;
    z-index: 999; /* Set an appropriate z-index to ensure it appears above other content */
    /* transform: translateY(-50%); Vertically center the advertisement within the specified range */
 }
 
 
#gif-img{
    width: 80%;
    height: 25%;
}





@media screen and (min-width: 745px) and (max-width: 1209px) {
    #recipe-categories-page-one-heading-description-text-container{
        width: 75%;
        padding-left: 5%;
    }
     
#recipe-categories-page-recipes-container{
    padding-left: 5%;
}

#recipe-categories-page-recipes{
     width:96% ;
}

#recipe-categories-page-recipes img{
    height: 38vh;
}

#left-side{
    width: 100%;
}
.category-fixed-advertisement{
    display: none;
}

#right-side-container{
display: none;

}



#recipe-categories-description-page-container{
    margin-left: 4%;
    width: 92%;
}
}

@media screen and (max-width: 744px) {
    #recipe-categories-page-one-heading-description-text-container{
        width: 75%;
        padding-left: 5%;
    }
    #recipe-categories-page-one-heading{
        font-size: 1.9rem;
        width: 100%;
    }   
#recipe-categories-page-recipes-container{
    padding-left: 1%;
}

#recipe-categories-page-recipes{
     width:98% ;
}

#recipe-categories-page-recipes img{
    height: 38vh;
}
#left-side{
    width: 100%;
}
.category-fixed-advertisement{
    display: none;
}


#recipe-categories-description-page-container{
    margin-left: 4%;
    width: 92%;
}

#recipe-categories-description-page-container img{
    width: 100%;
    height: 40vh;
 }
 
#right-side-container{
    display: none;
    
    }
}