#find-more-recipes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
}

#find-more-recipes h2{
    margin-bottom: 2rem;
}


#find-more-recipes-search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.2rem 1rem;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 2rem;
    height: 7vh;
    
}

#find-more-recipes-search-bar input[type=search]{
    width: 45rem;
    height: 2.5rem;
    border: none;
    margin-left: 1rem;
    /* font-size: 1rem; */
    /* font-weight: 900; */
    outline: none;
    background-color: white;
   margin-top: 2.3%;

}






#find-more-recipes-container button{
    margin-top: 3rem;
    width: 18rem;
    height: 2.5rem;
    background-color: #f5ce35;
    border: none;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    border-radius: 0.2rem;
}

#find-more-recipes-search-data{
    margin-top: 3rem;
}

#find-more-recipes-search-data h2{
    margin-bottom: 3rem;
    margin-left: 3rem;
}

#find-more-recipes-search-data-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#find-more-recipes-search-data-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
    width: 90%;
}

#find-more-recipes-search-data-cards{
    width: 20%;
    margin-bottom: 1rem;
    text-align: center;
    border: 1px solid rgb(238, 238, 238);
    /* padding: 1rem; */
    cursor: pointer;
}

#find-more-recipes-search-data-cards img{
    width: 100%;
    height: 30vh;
    /* margin-bottom: 1rem; */
}

#find-more-recipes-search-data-cards-heading{
    text-transform: uppercase;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5rem 0.2rem;
    margin: 0;
}






/* I WANT TO MAKE SEARCH */



#i-want-to-make{
    background: linear-gradient(to right, #ff0099, #493240);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

#i-want-to-make-search-bar-and-text-container{
    width: 87%;
    background-color: white;
    padding: 1rem;
    margin-left: 4rem;
}

#i-want-to-make-search-bar-and-text{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3rem solid purple;
}

#i-want-to-make-search-bar-and-text h3{
    margin-right: 1rem;
}

#i-want-to-make-search-bar{
    display: flex;
    align-items: center;
}

#i-want-to-make-search-bar input[type=search]{
    width: 80%;
    height: 6vh;
    border: none;
    margin-left: 0.3rem;
    outline: none;
    font-size: 0.6rem;
    font-weight: 900;
}

#i-want-to-make-search-bar button{
    width: 26%;
    height: 2rem;
    font-size: 0.6rem;
    font-weight: 900;
    background-color: #f5ce35;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
}

#i-want-to-make-suggested{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#i-want-to-make-suggested-container{
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#i-want-to-make-suggested-container div{
    background-color: aquamarine;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

#i-want-to-make-suggested-container div a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

#i-want-to-make-search-search-data {
    margin-top: 0rem; 
}

#i-want-to-make-search-search-data h2 {
    margin-bottom: 3rem;
    margin-left: 3rem;
}

#i-want-to-make-search-search-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#i-want-to-make-search-search-data-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
    width: 80%;
}

#i-want-to-make-search-search-data-cards {
    width: 30%;
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center;
    border: 1px solid rgb(238, 238, 238);
    cursor: pointer;
}

#i-want-to-make-search-search-data-cards img {
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
}


/* search page */

#search-page{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#search-page-i-want-to-make{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

#search-page-i-want-to-make-container{
    background-color: white;
    padding: 0.7rem 1rem;
    width: 80%;
    height: 14vh;

}

#search-page-i-want-to-make-search-bar-and-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid purple;
}

#search-page-i-want-to-make-search-bar-and-text h3{
    margin-right: 0.5rem;
    width: 25%;
}
#search-page-i-want-to-make-search-bar{
    display: flex;
    width: 100%;
    align-items: center;
}
#search-page-i-want-to-make-search-bar input[type=search]{
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    margin-bottom: -0.2rem;
    background: #FFFFFF;
}


#search-page-i-want-to-make-search-bar-and-text button{
    width: 20%;
    height: 2rem;
    font-size: 1rem;
    font-weight: 900;
    background-color: #f5ce35;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-bottom: 0rem;
    margin-left: 1rem;
}

#search-page-your-recent-searches{
    color: white;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-weight: 900;
}

#search-page-search-data {
    margin-top: 3rem;
}

#search-page-search-data h2 {
    margin-bottom: 3rem;
    margin-left: 3rem;
}

#search-page-search-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-page-search-data-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
    width: 80%;
}

#search-page-search-data-cards {
    width: 30%;
    margin-bottom: 3rem;
    text-align: center;
    border: 1px solid rgb(238, 238, 238);
    cursor: pointer;
}

#search-page-search-data-cards img {
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
}


@media screen  and (min-width: 745px) and (max-width: 1209px){
    #find-more-recipes {
        width: 100%;
        margin-left: 0rem;
        /* margin-right:-8rem ;  */
    }
    
    #find-more-recipes-container{
        margin: 0;
        width: 80%;
    }

    #find-more-recipes h2 {
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-top: 0rem;
    }
    #find-more-recipes-search-bar{
        width: 100%;
        height: 5vh;
        padding: 1rem 1rem;
        margin-left: 0rem;
        border: 3px solid rgb(172, 172, 172);
        border-radius: 5rem;
    }
    #find-more-recipes-search-bar input[type=search] {
        /* width: 60%; */
        height: 1.3rem;
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    

    #find-more-recipes-search-bar-search-icon{
        font-size: 1.1rem;
        margin-right: 0.5rem;
    }
    
    #find-more-recipes-container button {
        margin-top: 1rem;
        width: 5.2rem;
        height: 2.2rem;
        font-size: 0.8rem;
        margin-bottom: 0rem;
    }
    
    #find-more-recipes-search-data {
        margin-top: 0.7rem;
        width: 100%;
        margin-left: 0;
    }
    
    #find-more-recipes-search-data h2 {
        font-size: 4rem;
    }
    
    #find-more-recipes-search-data-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 3rem;
        width: 100%;
    }
    
    #find-more-recipes-search-data-cards {
        width: 40%;
        margin-bottom: 1rem;
        text-align: center;
        border: 1px solid rgb(238, 238, 238);
        padding: 0rem;
        cursor: pointer;
        margin-left: 0rem;
    }
    
    #find-more-recipes-search-data-cards img {
        width: 100%;
        /* height: 50rem; */
        margin-bottom: 0rem;
    }
    
    #find-more-recipes-search-data-cards h3 {
        font-size: 1rem;
        /* width: 15rem; */
    }



    /* i want to make */
      
    #i-want-to-make-search-bar-and-text{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.3rem solid purple;
    }
    
    #i-want-to-make-search-bar-and-text h3{
        margin-right: 1rem;
        font-size: 0.8rem;
    }
    
    #i-want-to-make-search-bar{
        display: flex;
        align-items: center;
    }
    
    #i-want-to-make-search-bar input[type=search]{
        width: 80%;
        height: 5vh;
        border: none;
        margin-left: 0.3rem;
        outline: none;
        font-size: 0.6rem;
        font-weight: 900;
    }
    
    #i-want-to-make-search-bar button{
        width: 26%;
        height: 2rem;
        font-size: 0.6rem;
        font-weight: 900;
        background-color: #f5ce35;
        border: none;
        border-radius: 0.2rem;
        cursor: pointer;
        margin-bottom: 0.2rem;
        margin-left: 1rem;
    }




      #i-want-to-make-search-search-data-cards-container {
        justify-content: space-between;
        width: 80%;
    }
    
    #i-want-to-make-search-search-data-cards {
        width: 40%;
        margin-bottom: 3rem;
        text-align: center;
        border: 1px solid rgb(238, 238, 238);
        cursor: pointer;
    }
    
   

    /* search */

    #search-page-i-want-to-make-container{
        background-color: white;
        padding: 0.7rem 1rem;
        width: 80%;
        height: 7vh;
    
    }
    
    #search-page-i-want-to-make-search-bar-and-text h3{
        margin-right: 0.5rem;
        width: 25%;
        font-size: 0.7rem;
    }

    #search-page-i-want-to-make-search-bar-and-text button{
        width: 20%;
        height: 1.5rem;
        font-size: 0.7rem;
        font-weight: 900;
       
        margin-bottom: 0rem;
        margin-left: 1rem;
    }
    
}



@media screen  and (max-width: 744px) {

    #find-more-recipes {
        width: 100%;
        margin-left: 0rem;
        /* margin-right:-8rem ;  */
    }
    
    #find-more-recipes-container{
        margin: 0;
    }

    #find-more-recipes h2 {
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-top: 0rem;
    }
    #find-more-recipes-search-bar{
        width: 100%;
        height: 5vh;
        padding: 1rem 1rem;
        margin-left: 0rem;
        border: 3px solid rgb(172, 172, 172);
        border-radius: 5rem;
    }
    #find-more-recipes-search-bar input[type=search] {
        width: 10rem;
        height: 1.3rem;
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    

    #find-more-recipes-search-bar-search-icon{
        font-size: 1.1rem;
        margin-right: 0.5rem;
    }
    
    #find-more-recipes-container button {
        margin-top: 1rem;
        width: 5.2rem;
        height: 2.2rem;
        font-size: 0.8rem;
        margin-bottom: 0rem;
    }
    
    #find-more-recipes-search-data {
        margin-top: 0.7rem;
        width: 100%;
        margin-left: 0;
    }
    
    #find-more-recipes-search-data h2 {
        font-size: 4rem;
    }
    
    #find-more-recipes-search-data-cards-container {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;
        width: 100%;
    }
    
    #find-more-recipes-search-data-cards {
        width: 85%;
        margin-bottom: 1rem;
        text-align: center;
        border: 1px solid rgb(238, 238, 238);
        padding: 0rem;
        cursor: pointer;
        margin-left: 0rem;
    }
    
    #find-more-recipes-search-data-cards img {
        width: 100%;
        height:29vh;
        margin-bottom: 0rem;
    }
    
    #find-more-recipes-search-data-cards h3 {
        font-size: 1rem;
        /* width: 15rem; */
    }




    /* i want to make */


    #i-want-to-make-search-bar-and-text-container{
        width: 68%;
        padding: 1rem;
        margin-left: 3rem;
    }
    #i-want-to-make-search-bar-and-text{
        display: flex;
        justify-content: center;
        align-items: flex-start;

        border-bottom: 0.3rem solid purple;
    }
    
    #i-want-to-make-search-bar-and-text h3{
        margin-right: 0rem;
        font-size: 0.6rem;
    }
    
    #i-want-to-make-search-bar{
        display: flex;
        align-items: center;
        justify-content:space-evenly ;
    }
    
    #i-want-to-make-search-bar input[type=search]{
        width: 80%;
        height: 5vh;
        border: none;
        margin-left: 0.3rem;
        outline: none;
        font-size: 0.6rem;
        font-weight: 900;
    }
    
    #i-want-to-make-search-bar button{
        width: 26%;
        height: 2rem;
        font-size: 0.4rem;
        padding: 1%;
        font-weight: 900;
        background-color: #f5ce35;
        border: none;
        border-radius: 0.2rem;
        cursor: pointer;
        margin-bottom: 0.2rem;
        margin-left: 0rem;
    }
      



    #i-want-to-make-search-search-data-cards-container {
        justify-content: space-between;
        /* gap: 3rem; */
        width: 80%;
    }
    
    #i-want-to-make-search-search-data-cards {
        width: 40%;
        margin-bottom: 3rem;
        font-size: 0.7rem;
    }
    #i-want-to-make-search-search-data-cards img {
        width: 100%;
        height: 20vh;
        margin-bottom: 1rem;
    }
    

    
    /* search */

    #search-page-i-want-to-make-container{
        background-color: white;
        padding: 0.7rem 1rem;
        width: 80%;
        height: 9vh;
    
    }
    
    #search-page-i-want-to-make-search-bar-and-text h3{
        margin-right: 0.5rem;
        width: 29%;
        font-size: 0.4rem;
    }
    #search-page-i-want-to-make-search-bar input[type=search]{
        width: 100%;
        height: 2rem;
        border: none;
        outline: none;
        font-size: 1.2rem;
        padding-left: 0.5rem;
        margin-bottom: 0rem;
        background: #FFFFFF;
    }

    #search-page-i-want-to-make-search-bar-and-text button{
        width: 20%;
        height: 1.3rem;
        font-size: 0.4rem;
        font-weight: 900;
         padding: 1%;
        margin-bottom: 0rem;
        margin-left: 1rem;
    }
}