@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@400;500;600;700&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

/* https://api.edamam.com/search?q=grilled%20chicken%20recipes&app_id=bd148452&app_key=cd27f1ff1e262cfc703a6dd8a6814abf&from=0&to=30 */
